body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Sixtyfour", sans-serif;
}

header {
   
    padding: 20px;
    font-size: 25px;
    color: rgb(0, 100, 0)
    
}

section {
    background: rgb(34, 139, 34);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.titulo {
    margin-left: 55px;
}

.video {
    padding-left: 10px;
    padding-right: 10px;
}

.publicaçõess {
    
    background: rgb(0, 0, 0);
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 100);
}

img{
    height: 300px;
    
}

.publicação01{
    padding-right: 20px;
    justify-content: center;
}


.texto01{
    justify-content: center;
    justify-content: flexs;
    height: 50px;
}

.texto02{
    color: aliceblue;
    background-color: rgb(28,28,28);
    border-radius: 20px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 75);

}

.base-primaria{
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 100);
    background-color: black;
    background: rgb(0, 0, 0);
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.insta{
  background-color: rgb(28, 28, 28);
    color: aliceblue;
    padding: 20px 28px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 200);
    border: 1px solid (28, 28, 28);
    font-size: 30px;
    cursor: pointer;
    transition: all .7s;
}

.insta:hover{
    background-color: aliceblue;
    color: black;
}